n8n_Workflow_Pinecone_Chatbot.json
{
  "name": "Daten laden",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "06b9e12b-abf5-4a60-923f-1c0b8a2e5db7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "7441406a-ef81-405d-bede-e4ff2ef81b08",
      "name": "Webhook",
      "webhookId": "06b9e12b-abf5-4a60-923f-1c0b8a2e5db7"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntest",
          "mode": "list",
          "cachedResultName": "n8ntest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        288,
        0
      ],
      "id": "49cd1410-c5bd-40aa-bc14-976c8d43f0fa",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "E1I478pJpZIXzbGA",
          "name": "Step"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "61c91a63-278b-4f6f-8362-b4a8282812ef",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XWLrPE5xMOXiDUB8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ],
      "id": "c9d4f16f-3dbe-427e-8a9f-84583ab682b1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        0
      ],
      "id": "92f64b57-4b68-4184-8937-4e9392b300b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bd28ec72-4c81-4f43-897d-afc98ef48e49",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        448
      ],
      "id": "6500481a-9f8c-4222-a318-645fc35c70f0",
      "name": "Webhook1",
      "webhookId": "bd28ec72-4c81-4f43-897d-afc98ef48e49"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        448
      ],
      "id": "b1fc81ab-4fb9-4563-9c28-131670cc9cce",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        656
      ],
      "id": "570a287b-f17e-4bc4-bd94-0d3fbd50a999",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XWLrPE5xMOXiDUB8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        672
      ],
      "id": "df1e8d19-01ba-41da-ade8-2ff980ffa854",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        448
      ],
      "id": "71514663-9138-4127-90d9-8f22e005dc83",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Nutze diese Datenbank für jede Anfrage",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        512,
        720
      ],
      "id": "bcde337b-a18f-4e24-804f-3760afe3ec6d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "E1I478pJpZIXzbGA",
          "name": "Step"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        896
      ],
      "id": "6f82f300-f278-42a2-8d54-d5a111fbed82",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XWLrPE5xMOXiDUB8",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39c67004-4b32-4bb7-bae1-28ff27c7cf1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb1634809689147b9e471b6060504b77ec3b0c47e59f5ae02e208c1700842c3a"
  },
  "id": "qq3SD5JiWoBMWAxJ",
  "tags": []
}